.hero-image {
  height: clamp(400px, 100vh); 
  background-size: cover;       
  background-position: center;  
  background-repeat: no-repeat;
}

.hero-image img {
  width: 100%;
  height: auto;   
  display: block;
}


