
@import "leaflet/dist/leaflet.css";
.leaflet-container { height: 400px; width: 100%; }


html, body, #root {
  height: 100%;
  margin: 0;
  font-family: Inter, Arial, sans-serif;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}


.loader {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
  background: rgba(255,255,255,0.9);
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 14px;
}
